body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-style: normal;
  font-optical-sizing: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.img {
  display: block;
} 
 
a {
  text-decoration: none;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.hero {
  background: #2e2f42;
  width: 100%;
  height: 600px;
  padding: 188px 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  }

  .header-menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
  } 
  
.futures-text {
  padding-bottom: 120px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px
}

.logo-text {
  margin-right: 76px;
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
}

.header-menu-list {
  color: #2e2f42;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.contacts-list {
  color: #434455;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-item {
  display: flex;
  gap: 40px;
}

.contacts-list:hover,
.contacts-list:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.container {
  min-width: 120px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: center;
}
.hero-title {
  padding-top: 188px;
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
.hero-btn {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  justify-content: flex-start;
  background: #4d5ae5;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  border: none;
}


.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contact-list {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.futures {
  padding: 120px 0;
}
.futures-list {
  padding-top: 120px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  gap: 8px;
  width calc((100% - 3 * 24px) / 4)
  height: 104px;
}

.futures-item {
  background-color: #ffffff;
}
.futures-item {
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 24px;
}
.futures-sub { 
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team {
  background: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  margin-bottom: 72px;
  padding-top: 120px; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-top: 32px;
  margin-bottom: 8px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  padding-bottom: 32px;
}

.team-item {
  background-color: #ffffff;
  width: calc((100% - 24px) / 4)
}

.portfolio-first {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-our {
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}
.portfolio-list {
  display: flex;
  width: calc((100% - 48px) / 3);
  column-gap: 24px;
  row-gap: 48px;
  margin: 0 auto;
  flex-wrap: wrap;
  width: calc((100% - 24px) / 3)
  background-color: #ffffff;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 120px;
}

.portfolio-title {
  padding-top: 32px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  padding-top: 8px;
  padding-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer-text {
  max-width: 264px;
  padding-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  display: flex;
  flex-direction: row;
}

.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.page-footer {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  background: #2e2f42;
  max-width: auto;
  height: 312px;
}

.team-list {
  border-radius: 0px 0px 4px 4px;
  gap: 24px;
  width: calc((100% - 3 * 24px) / 4);
  background-color: #ffffff;
  flex-direction: row;
  padding-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
}
